.emptyMessage {
font-weight: bold;
color: red;
font-size: 1.2em;
}

.listControl {
margin-left: 5px;
}

ul {
margin-left: 12px;
padding: 0;
}

li {
margin-left: 5px;
margin-top: 5px;
margin-bottom: 7px;
font-size: 1.2em;

}

li > button {
margin-left: 5px;
}

button > span {
color: green;
}